@tailwind base;
@tailwind components;
@tailwind utilities;




/*Formularios*/


label
{
  @apply block text-gray-700 text-sm font-bold mb-2 dark:text-indigo-500;
  &.invalid
  {
  i{ @apply text-red-500; }
    @apply block text-red-500 text-sm font-bold mb-2 ;

  }
}
input
{
  @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-5 text-gray-900 border-blue-500  ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  outline: none;

  &.invalid
  {
  
    @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-5 text-red-500 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;

  }
}

._disable-btnPassword
{
  @apply h-full rounded-md text-center border-0 bg-transparent px-4 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm;
}

._active-btnPassword
{
  @apply h-full rounded-md text-center border-0 bg-indigo-600 px-4 text-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm;
}


.form-group
{
  &.invalid
  {
    label
    {
      i{ @apply text-red-500; }
        @apply block text-red-500 text-sm font-bold mb-2 ;
    }
    input
    {
        @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-1  border-red-500 ring-1 ring-inset ring-red-500 placeholder:text-red-400  focus:ring-inset focus:ring-red-500 sm:text-sm sm:leading-6;
    }
    ._disable-btnPassword
    {
      @apply h-full rounded-md text-center border-0 bg-transparent px-4 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-red-500 sm:text-sm;
    }

    ._active-btnPassword
    {
      @apply h-full rounded-md text-center border-0 bg-red-500 px-4 text-white focus:ring-2 focus:ring-inset focus:ring-red-500 sm:text-sm;
}
  }
}



.trs
{
    transition: all ease-in-out 0.3s;
}

.trs-5
{
    transition: all ease-in-out 0.5s;
}

.message
{
  &__error
  {
    @apply block text-sm text-red-500 pb-6 ;
  }
}
@import 'navbar';
@import 'sidebar';
@import 'components/dropdown';
