@tailwind base;
@tailwind components;
@tailwind utilities;




/*Formularios*/

.no-tailwind-styles {
  all: initial !important;
}

.switch
{
  &>p{ @apply block text-gray-700 text-sm font-bold mb-2 dark:text-indigo-500 cursor-default;}
  &__items
  {
    @apply flex items-center;
    label{@apply flex items-center cursor-pointer ;}
    input{@apply sr-only;}
    
  }
  &__background
    {
      @apply block bg-gray-600 w-14 h-8 rounded-full
    }
  &__check
  {
    @apply  absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition cursor-pointer;
  }
  &__label
  {
    @apply ml-3 font-semibold text-sm text-gray-500;
  }
  &.active
  {
    .switch__background
    {
      @apply  bg-cyan-600 ;
    }
    .switch__check
    {
      @apply   left-7 top-1  ;
    }
    .switch__label
    {
      @apply  text-cyan-600 ;
    }
  }


}

label
{
  @apply block text-gray-700 text-sm font-bold mb-2 dark:text-indigo-500;
  &.invalid
  {
  i{ @apply text-red-500; }
    @apply block text-red-500 text-sm font-bold mb-2 ;

  }
}
.count 
{
  display: flex !important;
  justify-content: flex-end !important;
  @apply  text-gray-700 text-sm font-bold mb-2 dark:text-indigo-500;
  &.invalid
  {
  i{ @apply text-red-500; }
    @apply block text-red-500 text-sm font-bold mb-2 ;

  }
}
input,select,textarea
{
  @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-5 text-gray-900 border-blue-500  ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  outline: none;
  
  &.invalid
  {
  
    @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-5 text-red-500 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
}
select>option{
  font-size: 0.8rem;
}
textarea{@apply mb-1;}
._disable-btnPassword
{
  @apply h-full rounded-md text-center border-0 bg-transparent px-4 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm;
}

._active-btnPassword
{
  @apply h-full rounded-md text-center border-0 bg-indigo-600 px-4 text-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm;
}


.form-group
{

  &.invalid
  {
    label
    {
      i{ @apply text-red-500; }
        @apply block text-red-500 text-sm font-bold mb-2 ;
    }
    .count
    {

      i{ @apply text-red-500; }
      @apply block text-red-500 text-sm font-bold mb-2 ;
    }
    input
    {
        @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-1  border-red-500 ring-1 ring-inset ring-red-500 placeholder:text-red-400  focus:ring-inset focus:ring-red-500 sm:text-sm sm:leading-6;
    }
    select
    {
      @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-1  border-red-500 ring-1 ring-inset ring-red-500 placeholder:text-red-400  focus:ring-inset focus:ring-red-500 sm:text-sm sm:leading-6;

    }
    textarea
    {
      @apply block w-full rounded-md border-0 py-2 pl-7 pr-10 mb-1  border-red-500 ring-1 ring-inset ring-red-500 placeholder:text-red-400  focus:ring-inset focus:ring-red-500 sm:text-sm sm:leading-6;
      
    }
    ._disable-btnPassword
    {
      @apply h-full rounded-md text-center border-0 bg-transparent px-4 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-red-500 sm:text-sm;
    }

    ._active-btnPassword
    {
      @apply h-full rounded-md text-center border-0 bg-red-500 px-4 text-white focus:ring-2 focus:ring-inset focus:ring-red-500 sm:text-sm;
}
  }
}



.trs
{
    transition: all ease-in-out 0.3s;
}

.trs-5
{
    transition: all ease-in-out 0.5s;
}

.message
{
  &__error
  {
    @apply block text-sm text-red-500 pb-6 ;
  }
}

@import 'dashboard';
@import 'navbar';
@import 'sidebar';
@import 'components/history';
@import 'components/dropdown';
